@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

body{
    margin: 0;
       padding: 0;
       height: 12vh;
       background-color: #fffcf8;       
       font-family:'Finger Paint';     
  }

  /*****   boton inicio    *******/
  .www {
    width: 65%;
    height:auto;  
  }
  
  .mail {
    width: 65%;
    height:auto;  
  }
  
  .ws {
      position: absolute;
      /*position: fixed; */
      right: 11px; /* Establecemos la barra en la izquierda */
      top: 60px; /* Bajamos la barra 60px de arriba a abajo */
      z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
  }
  
  .ws ul {
          list-style: none;
  }
  
  .ws ul li a {
          display:inline-block;
          color:#fff;
          /*background: #000;*/
          padding: 35px 35px;
          text-decoration: none;
          -webkit-transition:all 500ms ease;
          -o-transition:all 500ms ease;
          transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }  
  
  .ws ul li .icon-mail2 {background-image: url(./img/inicio.png)}      
  
  .ws ul li a:hover {
          /*background:white; /* Cambiamos el fondo cuando el usuario pase el mouse */
          transform: scale(1.1);
            text-decoration: none;
           /*box-shadow: 0 0px 25px coral;*/
          /*padding: 21px 22px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
  
  }

  /*@media (max-width: 800px) {
      .ws ul li .icon-mail2 {        
          padding: 20px 20px;     
      }
      .ws ul li .icon-mail2 {
         width: 50%;
         height: auto;
      }
  
  }*/
   
  /*****  boton neon    ******/
  
  .btn-neon{
     position: relative;
     display: inline-block;
     padding: 15px 30px; 
     color: #a945c7;
     letter-spacing: 2px;
     text-decoration: none;
     font-size: 24px;
     overflow: hidden;
     transition: 0.2s;
  }
  .btn-neon:hover{    
     background: #e37703 ;
     box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
     transition-delay: .5s;
  }
  .btn-neon span{
     position: absolute;
     display: block;
  }
  #span1{
     top: 0;
     left: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(90deg, transparent,#a945c7);
  }
  .btn-neon:hover #span1{
     left: 100%;
     transition: 1s;
  }
  #span3{
     bottom: 0;
     right: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(270deg, transparent,#a945c7);
  }
  .btn-neon:hover #span3{
     right: 100%;
     transition: 1s;
     transition-delay: 0.5s;
  }
  #span2{
     top: -100%;
     right: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(180deg,transparent,#a945c7);
  }
  .btn-neon:hover #span2{
     top: 100%;
     transition: 1s;
     transition-delay: 0.25s;
  }
  #span4{
     bottom: -100%;
     left: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(360deg,transparent,#a945c7);
     
  }
  .btn-neon:hover #span4{
     bottom: 100%;
     transition: 1s;
     transition-delay: 0.5s;
  }

  .container {
    
    font-size: 0;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }


  /* Font de la galeria de tarjetas*/
  @import url(https://fonts.googleapis.com/css?family=Finger+Paint);

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    
    background-color: #fffcf8;   
}

body {
  color: #272727;
  font-family:'Finger Paint';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  padding-top: 40px;
  max-width: 1600px;
  margin: 0 auto;
}


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


img:hover {
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1.1);
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1.1);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1.1);
   transition: all 200ms ease-in;
   transform: scale(1.1);
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 70rem) {
    .cards_item {      
      width: 60%;
    }}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: #e37703;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #e37703 40%, #e37703 100%);
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
button {
    cursor: pointer;
    background-color: #e37703;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Finger Paint';
    font-size: 13px;
    border-radius: 50%; 
}

button:hover {
    transform: scale(1.2);
}



  